@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import '../components/UI/mainContainer/main-container.scss';
@import '../components/UI/container/container.scss';
@import '../components/mainBanner/main-banner.scss';
@import '../components/UI/pulse/pulse.scss';
@import '../components/contacts/contacts.scss';
@import '../components/main/main.scss';
@import '../components/UI/container/container.scss';
@import '../components/filter/filter.scss';
@import '../components/UI/gridContainer/grid-container.scss';
@import '../components/cards/cards.scss';
@import '../components/card/card.scss';
@import '../components/companies/companies.scss';
@import '../components/UI/newsContainer/news-container.scss';
@import '../components/cardNews/card-news.scss';

html,
body {
  background: #F0F0F0;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
