.card {
  padding: 7px;
  display: flex;
  align-items: center;
  border: 1.3px solid #e7e7e7;
  width: 48.4%;
  border-radius: 10px;
  transition: 0.4s;

  .card__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  p {
    font-weight: 500;
    font-size: 14px;
  }

  span {
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
  }

  .card__image_container {
    width: 97px;
    height: 87px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .red {
    color: rgba(243, 114, 114, 1);
  }

  .purple {
    color: rgba(166, 153, 245, 1);
  }

  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 1px solid white;
    transition: 0.4s;
  }
}

//  стили для телефонов
@media screen and (max-width: 479px) {
  .card {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1.3px solid #e7e7e7;
    width: 100%;
    border-radius: 0px;
    transition: 0.4s;

    .card__text {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    span {
      font-weight: 600;
      font-size: 14px;
      margin-left: 15px;
    }

    .card__image_container {
      width: 89px;
      height: 100%;
      border-radius: 8px;
      overflow: hidden;
      margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover {
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: 0.4s;
      outline: none;
    }
    &:last-child {
      border: none;
      padding-bottom: 0px;
    }
  }
}
