.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  max-width: 1268px;
  margin: 0px auto;

   div:nth-child(1) {
       grid-column: span 6;
   }
    div:nth-child(2) {
       grid-column: span 4;
   }
    div:nth-child(3) {
       grid-column: span 2;
   }
}
