.pulse {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #55FFC2;
  box-shadow: 0 0 0 #1d6349;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #55ffc1e3;
  }
  70% {
      -webkit-box-shadow: 0 0 0 5px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #55ffc1e3;
    box-shadow: 0 0 0 0 #55ffc1e3;
  }
  70% {
      -moz-box-shadow: 0 0 0 5px rgba(204,169,44, 0);
      box-shadow: 0 0 0 5px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}