.grid-container {
  width: 100%;
 display: flex;
 flex-wrap: wrap;
 gap: 23px 23px;
 margin-top: 26px;
 max-height: 800px;
 overflow-y: scroll;
 position: relative;

 &::-webkit-scrollbar {
  width: 0px;
}

}
